*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-page{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: pink;    
    justify-content: center;
}

.result{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 80%;
}

.pokemon{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 300px;
    width: 300px;
}

.pokeName{
    font-weight: bold;
}

.pokeImg{
    height: 100px;
    width: 100px;
}


                /* HOVER */

.pokemon:hover{
    filter: grayscale(1);
}